# Ignorar archivos de build
build/
.gradle/
*.log

# Ignorar archivos de IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de test
src/test/
